name: Run Tests

# Trigger the workflow on every push or pull request to the main branch
on:
  # 1
  push:
    branches:
      - main
  # 2
  pull_request:
    branches:
      - main

jobs:
  test: #name of the job
    runs-on: ubuntu-latest #definition of runner

    steps:
      # Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v3

      # Set up Node.js environment
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'

      # Install dependencies
      - name: Install dependencies
        run: npm install

      #Run formatter
      - name: Run prettier
        run: npm format

      # Run tests
      - name: Run tests
        run: npm test